*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 500px;
    min-height: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: -8px -8px 13px #fff7,
                8px 8px 13px #0001 ;
}
h2,h3{
    margin: 10px 0;
    text-transform: uppercase;
    color: teal;
    letter-spacing: 2px;
}
form{
    padding: 0 30px;
}
form label{
    width: 100%;
    height: 40px;
    margin: 15px 0;
    display: block;
    position: relative;
}
form input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid teal;
    padding-right: 50px;
}
form i{
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    color: teal;
    cursor: pointer;
}
form i:hover{
    color: #fff;
}
form button{
    height: 40px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    background: rgb(25,146,187);
    padding: 0 20px;
    color: white;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border-radius: 5px;
    margin: 13px 0;
}
form button:disabled,
form input:disabled{
    opacity: 0.4px;
    cursor: no-drop;
}
.alert{
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 0;
    font-size: 12px;
    display: none;

}
.alert.danger{
    display: block;
    background: #da7f7c;
    color: #900;
}
.alert.success{
    display: block;
    background: #7dc77d;
    color: #fff;

}
::-ms-reveal {
    display: none;
}
